$primary:#EEEEEE;
$banerCol:#DBE2EF;
$secondary:#393e46bd;
$detailColor:#1498D5;
$icons:#7aa1e9;
@mixin HR{
	border:3px solid $red;
	width:50%;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
@keyframes scale-in{
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
@keyframes flip{
	0% {	 
		transform: translateY(0) rotateX(0);	 
		transform-origin: 50% 0%;
	}
	100% {
		transform: translateY(0%) rotateX(360deg);
		transform-origin: 50% 100%;
	}
  }
a{
    text-decoration: none;
}
header{
    background-color: $primary;
    .container{
        .navbar{
            .collapse{
                ul{
                    li{
                        a{
                            font-size: 20px;
                            color:$detailColor;
                        }
                    }
                }
            }
        }
    }
}
.baner{
    background-color: $banerCol;
    .container{
        width:60%;
        #logo ,h1{
            animation: scale-in 1s;
        }
        p{
            font-size: 20px;
        }
    }
}
main{
    background-color: $primary;
    .container-fluid{
        .container{
            h2{
                animation: flip 1s;
            }
            .col-12{
                h1{
                    animation: flip 1s;
                }
            }
            .row{
                #myCol{
                    padding:20px;
                    background-color: $banerCol;
                    img{
                        width:100%;
                    }
                    a{
                        color:white;
                        text-decoration: none;
                        padding:5px;
                        border-radius:4px;
                        background-color: $detailColor;
                        border: 1px solid $detailColor;
                        &:hover{
                            color:$detailColor;
                            background-color: white;
                            transition: 1s;
                        }
                    }
                }
            }
        }
    }
}
#nacinPlacanja{
    .container-fluid{
        .container{
            .row{
                .col-md-4{
                    h3{
                        font-size: 23px;
                    }
                    svg{
                        width:50px;
                        height: 50px;
                        fill: $icons;
                    }
                    p{
                        padding: 15px;
                    }
                }
            }
        }
    }
}
.container-fluid{
    .container{
        .row{
            .col-sm-12{
                iframe{
                    border-radius: 5px;
                    border: 1px solid black;
                }
                #formContact{
                    #imePrezime, #email, #napomena, #izbor{
                        width:100%;
                        border-top:none;
                        border-radius: 5px;
                        border-color: $detailColor;
                        background-color: $primary;
                        text-align: center;
                        padding: 5px;
                        margin-bottom: 10px;
                    }
                    #email{
                        margin:0px
                    }
                    label{
                        font-size: 18px;
                    }
                    ::placeholder{
                        color:black;
                    }
                    #buttons{
                        width:100%;
                        display: flex;
                        flex-direction: row;
                        #potvrdi, #reset{
                            width:100%;
                            margin: 10px;
                            border-radius: 5px;
                            border-color: $detailColor;
                            &:hover{
                                background-color: $detailColor;
                                color:white;
                                transition: 1s;
                            }
                        }
                    }
                }
            }
        }
    }
}
#zastoMi{
    .container-fluid{
        .container{
            .row{
                .col-sm-6{
                    #carouselExampleControls{
                        .carousel-control-prev-icon, .carousel-control-next-icon{
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}
footer{
    .col-12{
        .ms-3{
            .text-muted{
                font-size: 19px;
                line-height: 48px;
            }
        }
    }
}

